In [13]:
# Series is a one-dimensional array-like object containing a sequence of values.
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
# get array representation and index obj
obj.values

array([ 4,  7, -5,  3])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# create a series with index
obj2 = pd.Series([4, 7, -5, 4], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    4
dtype: int64

In [6]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [7]:
# selecting single values or a set using labels
obj2['a']

-5

In [9]:
# change the value using its index label
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    4
dtype: int64

In [10]:
# filtering with a boolean array
obj2[obj2 > 0]

d    6
b    7
c    4
dtype: int64

In [11]:
# scalar multiplication
obj2 * 2

d    12
b    14
a   -10
c     8
dtype: int64

In [14]:
# applying math function
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      54.598150
dtype: float64

In [17]:
# create a series from dictionary (by passing the dict)
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} 
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [18]:
# override dict keys 
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [19]:
# detect missing data
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [20]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [21]:
# instance method
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [22]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [23]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [24]:
# concatenate
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [25]:
# set the object name
obj4.name = 'population'

In [26]:
# set its index name
obj4.index.name = 'state'

In [27]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [29]:
# altering index in-place
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64